html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem es igual a 10px */
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

/*          GLOBALES          */

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a{
    text-decoration: none;

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

.contenedor{
    min-width: 110rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: block;
}

.title{
    color: #190061;
    text-align: center;
    margin: 7rem 0 7rem 0;
}


/*          Header          */

.menu {
    min-height: 11.1rem;
    background-color: #190061;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-section:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
}

.header-section:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 4;
}

.menu img {
    width: 8rem;
    margin-right: 3rem;
    float: left;
}

.menu h2{
    color: white;
}


.menu a{
    float: right;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    color: #FFC900;
    font-size: 2.4rem;
}

.title-menu {
    margin: auto;
    display: inline-flex;
    margin-top: 2rem;
}

.title-menu2 {
    margin: 2rem 0 0 2rem;
    padding-left: 2rem;
    border-left: 0.4rem solid #FFC900;
    display: inline-flex;
}

/*          Banner          */

.banner {
    background-image: url(../images/index.jpg);
    width: 100%;
    height: 60.7rem;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.categoria{
    width: 100%;
    height: auto;
    margin: auto;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    column-gap: 5rem;
}

.categorias {
    background-color: #FF6400;
    width: 32rem;
    height: 20rem;
    color: white;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 2rem;   
}

.categorias img{
    width: 10.5rem;
    float: center;
}

.categorias h3{
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.categorias:hover{
    background-color: rgba(255, 100, 0, 0.7);
    transition: background-color .3s ease-out;
}

/*          NUESTRO INSTITUTO          */

.nuestro{
    height: 52.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}

.nuestro-img:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0 2.5rem 0 2.5rem;
}

.nuestro-text:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: justify;
    padding: 5rem;
    
}

.nuestro-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.nuestro-img:nth-child(1) img:nth-child(1){
    width: 100%;
    height: 43.6rem;   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
}

.nuestro-img:nth-child(1) img:nth-child(2){
    width: 100%;
    height: 21rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    object-fit: cover;
    object-position: center center;
}

.nuestro-img:nth-child(1) img:nth-child(3){
    width: 100%;
    height: 21rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    object-fit: cover;
    object-position: center center;
}

.nuestro-text {
    background-color: #FFC900;
    font-size: 2.4rem;
}

/*          CONTACTANOS          */

.contactanos{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
    
}

.contactanos-categoria:nth-child(1){
    width: 80%;
    height: 19.5rem;
    background-color: #EDEDED;
    grid-column-start: 1;
    grid-column-end: 2;
}

.contactanos-categoria:nth-child(2){
    width: 80%;
    height: 19.5rem;
    background-color: #EDEDED;
    grid-column-start: 2;
    grid-column-end: 3;
}

.contactanos-categoria:nth-child(3){
    width: 80%;
    height: 19.5rem;
    background-color: #EDEDED;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

.contactanos-categoria:nth-child(4){
    width: 80%;
    height: 19.5rem;
    background-color: #EDEDED;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.contactanos-categoria{
    display:inline-flex;
    min-width: 53rem;
}

.contactanos-categoria img{
    width: 10rem;
    margin: 5rem 2rem 5rem 4rem;
}

.contactanos-text{
    width: auto;
    padding-top: 4rem;
}

.contactanos-text h3 {
    line-height: 1rem;
    color: #FF6400;
    font-weight: bold;
}

.contactanos-text p {
    font-size: 2.4rem;
    line-height: 1rem;
    color: #190061;
    font-weight: 900;
}

/*          FOOTER          */

.footer {
    width: 100%;
    height: 12.6rem;
    background-color: #190061;
    margin-top: 10rem;
    padding: 3.5rem;
}

.footer h3 {
    line-height: 0;
    text-align: center;
    color: white;
}

.footer p {
    color: #FFC900;
    font-size: 2.4rem;
    text-align: center;
    line-height: 0;

}


/*          PAGE AVISOS          */

/*AVISOS*/

.avisos{
    height: auto;
    margin: 5rem 1rem 5rem 1rem;
    display: inline-flex;
}

.avisos-text{
    max-width: 58rem;
    margin: 5rem;
    padding: 5rem 5rem 0 5rem;
    background-color: #EDEDED;

}

.avisos-text h2{
    color: #6E7CFD;
    text-align: center;
}


.avisos-text p{
    color: #000000;
    text-align: justify;
    font-size: 2.4rem;
}

.avisos-text h3{
    color: #000000;
    text-align: justify;
    font-weight: bolder;
}

.line{
    width: auto;
    height: 2.6rem;
    padding: -5rem;
    margin: -5rem;
    margin-bottom: 5rem;
    background-color: #FFC900;

}

h3{
    color: #FF6400;
}