html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem es igual a 10px */
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

/*          GLOBALES          */

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a{
    text-decoration: none;

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

h4{
    font-size: 2rem;
}

.contenedor{
    min-width: 110rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: block;
}

.title{
    color: #190061;
    text-align: center;
    margin: 7rem 0 7rem 0;
}

.gray {
    background-color: #D9D9D9;
}

.orange {
    background-color: #FF6400;
}

.yellow {
    background-color: #FFC848;
}

.green {
    background-color: #7DCEA0;
}

.blue {
    background-color: #3498DB;
}

.purple {
    background-color: #B931F4;
}

/*          Header          */

.menu {
    min-height: 11.1rem;
    background-color: #190061;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-section:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
}

.header-section:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 4;
}

.menu img {
    width: 7rem;
    margin-right: 3rem;
    float: left;
}

.menu h2{
    color: white;
    font-size: 2.5rem;
}


.menu a{
    float: right;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    color: #FFC900;
    font-size: 2rem;
}

.title-menu {
    margin: auto;
    display: inline-flex;
    margin-top: 2rem;
}

.title-menu2 {
    margin: 2rem 0 0 2rem;
    padding-left: 2rem;
    border-left: 0.4rem solid #FFC900;
    display: inline-flex;
}

/*          Banner          */

.banner {
    background-image: url(../images/index.jpg);
    width: 100%;
    height: 60.7rem;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.categoria{
    width: 100%;
    height: auto;
    margin: auto;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    column-gap: 5rem;
}

.categorias {
    background-color: #FF6400;
    width: 32rem;
    height: 20rem;
    color: white;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 2rem;   
}

.categorias img{
    width: 10.5rem;
    float: center;
}

.categorias h3{
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.categorias:hover{
    background-color: rgba(255, 100, 0, 0.7);
    transition: background-color .3s ease-out;
}

/*          NUESTRO INSTITUTO          */

.nuestro{
    height: 52.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}

.nuestro-img:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0 2.5rem 0 2.5rem;
}

.nuestro-text:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: justify;
    padding: 5rem;
    
}

.nuestro-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.nuestro-img:nth-child(1) img:nth-child(1){
    width: 100%;
    height: 43.6rem;   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
}

.nuestro-img:nth-child(1) img:nth-child(2){
    width: 100%;
    height: 21rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    object-fit: cover;
    object-position: center center;
}

.nuestro-img:nth-child(1) img:nth-child(3){
    width: 100%;
    height: 21rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    object-fit: cover;
    object-position: center center;
}

.nuestro-text {
    background-color: #FFC900;
    font-size: 2.4rem;
}

/*          CONTACTANOS          */

.contactanos{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
    
}

.contactanos-categoria:nth-child(1){
    width: 80%;
    height: 19.5rem;
    background-color: #EDEDED;
    grid-column-start: 1;
    grid-column-end: 2;
}

.contactanos-categoria:nth-child(2){
    width: 80%;
    height: 19.5rem;
    background-color: #EDEDED;
    grid-column-start: 2;
    grid-column-end: 3;
}

.contactanos-categoria:nth-child(3){
    width: 80%;
    height: 19.5rem;
    background-color: #EDEDED;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

.contactanos-categoria:nth-child(4){
    width: 80%;
    height: 19.5rem;
    background-color: #EDEDED;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.contactanos-categoria{
    display:inline-flex;
    min-width: 53rem;
}

.contactanos-categoria img{
    width: 10rem;
    margin: 5rem 2rem 5rem 4rem;
}

.contactanos-text{
    width: auto;
    padding-top: 4rem;
}

.contactanos-text h3 {
    line-height: 1rem;
    color: #FF6400;
    font-weight: bold;
}

.contactanos-text p {
    font-size: 2.4rem;
    line-height: 1rem;
    color: #190061;
    font-weight: 900;
}

/*          FOOTER          */

.footer {
    width: 100%;
    height: 10rem;
    background-color: #190061;
    margin-top: 10rem;
    padding: 1rem;
}

.footer h3 {
    margin: 0;
    text-align: center;
    color: white;
}

.footer p {
    color: #FFC900;
    font-size: 2rem;
    text-align: center;
    line-height: 0;

}


/*          PAGE AVISOS          */

/*AVISOS*/

.avisos{
    height: auto;
    margin: 5rem 1rem 5rem 1rem;
    display: inline-flex;
}

.avisos-text{
    margin: 5rem;
    padding: 5rem 5rem 0 5rem;
    background-color: #EDEDED;

}

.avisos-text h2{
    color: #6E7CFD;
    text-align: center;
}


.avisos-text p{
    color: #000000;
    text-align: justify;
    font-size: 2.4rem;
}

.avisos-text h3{
    color: #000000;
    text-align: justify;
    font-weight: bolder;
}

.line{
    width: auto;
    height: 2.6rem;
    padding: -5rem;
    margin: -5rem;
    margin-bottom: 5rem;
    background-color: #FFC900;
}

/*          PAGE ADMINISTRACION INDEX          */

/*BANNER*/

.banner-administrador {
    background-image: url(../images/banner-admin-index.jpg);
    background-position: bottom;
    width: 100%;
    height: 60.7rem;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.banner-administrador-text{
    width: 100%;
    height: 13.9rem;
    background-color: rgba(25, 0, 97, 0.5);
    text-align: center;
    color: white;
    padding: 2.5rem;
}

.banner-administrador-text h1{
    font-size: 5rem;
}

/*USER*/

.user-section{
    width: 100%;
    min-height: 18.5rem;
    margin-top: 5rem;
    display: inline-flex;
}

.user-sec01{
    display: inline-flex;
}

.user-sec01 img{
    width: 15rem;
    height: 15rem;
    margin-left: 5rem;
    border-radius: 9rem;
}

.user-sec01 h2{
    color: #190061;
    text-transform: uppercase;
    font-size: 2rem;
}

.user-sec-letter{
    min-width: 50rem;
    margin-left: 5rem;
    padding-top: 2rem;
}

.user-sec02{
    width: 100%;
    text-align: right;
    margin-right: 5rem;
    padding: 2rem;
}

.color-orange{
    color: #FF6400;
}

/*SERVICIOS*/

.servicios-admin{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 5rem;
    margin-bottom: 10rem;
}

.servicio{
    min-width: 31rem;
    min-height: 45.1rem;
    border: 0.3rem solid #EDEDED;
    padding: 5rem 0 5rem 0;
}

.circle{
    width: 19rem;
    height: 19rem;
    margin: auto;
    padding-top: 4.5rem;
    border-radius: 19rem;
}

.servicio img{
    width: 10rem;
    display: block;
    margin: auto;
}

.servicio h4{
    margin: auto;
    margin-top: 10rem;
    color: #190061;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.servicio h4:hover{
    color: #FFC900;
}

/*          PAGE ADMINISTRACION PRIMER INGRESO         */

/*MENU*/

.form-main{
    width: auto;
    min-width: 100%;
    display: inline-flex;
}

.menu02{
    width: 40rem;
    height: auto;
    min-height: 90rem;
    background-color: #190061;
    margin: 3rem 4rem 4rem 0;
    display: inline-block;
}

.first-section{
    width: 100%;
    height: 14rem;
    background-color: #B931F4;
    display: inline-flex;
}

.first-section img{
    width: 10rem;
    height: 10rem;
    border-radius: 9rem;
    margin: 1.5rem;
}

.first-section-text{
    margin: 0.5rem;
    margin-right: 2rem;
}

.first-section-text h3 {
    margin: 0;
    margin-top: 2.5rem;
    font-size: 2rem;
    color: #190061;
    text-transform: uppercase;
}

.first-section-text h4 {
    margin: 0;
    color: white;
}

.nav{
    width: 100%;
    height: auto;
    display: inline-block;
}

.nav ul{
    list-style: none;
    padding: 0;
}

.nav .menu-ul {
    width: 100%;
}

.nav .menu-ul li a {
    display: block;
    padding: 1.5rem 2rem;
    border-top: 0.1rem solid #6E7CFD;
    border-bottom: 0.1rem solid #6E7CFD;
    margin-top: 2rem;
    color: #FFFFFF;
}

.nav .menu-ul li a:hover{
    background-color: #6E7CFD;
}

.nav .menu-ul ul {
    display: none;
    padding-left: 4rem;
}

.nav .menu-ul ul li a {
    background-color: #211F76;
    color:#FFC848;
    border:none;
    margin: 0;
}

.nav .menu-ul ul li a:hover {
    color:#FFFFFF;
}

.activado a{
    background-color: #6E7CFD;
}

/*FORMULARIO*/

.section-form{
    width: 90%;
    margin-top: 3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
}

.section-form-title{
    width: 90%;
    height: 14rem;
    display: inline-flex;
}

.section-form-title .circle{
    width: 10rem;
    height: 10rem;
    margin: auto;
    padding-top: 2rem;
    border-radius: 19rem;
}

.section-form-title .circle img{
    width: 6rem;
    display: block;
    margin: auto;
}

.section-form-title h3 {
    color: #6E7CFD;
    margin: auto;
    margin-left: 0.1rem;
}

.section-form-title p {
    font-weight: bold;
    margin-right: 2rem;
}

.section-form-info{
    width: 92%;
    margin: auto;
    border: 0.2rem solid #D9D9D9;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
}

.form{
    margin: 2rem;
}

.form label {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form input {
    padding-left: 1.5rem;
}

.textarea{
    resize: none;
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
    border: 0.1rem solid #190061;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.input-par{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.input-par-check{
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
}

.label-par{
    display: inline-flex;
    width: 106%;
}

.label-par p{
    display: inline-flex;
    width: 106%;
    font-size: 1.2rem;
    margin: -1rem 0 2rem 0;
}

.largo{
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    border: 0.1rem solid #190061;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}


.medio{
    width: 47%;
    height: 3rem;
    margin-bottom: 2rem;
    border: 0.1rem solid #190061;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.medio-chek{
    width: 47%;
    height: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.checkbox-form{
    display: inline-flex;
    align-items: baseline;
}

.checkbox-form-center-label{
    width: 100%;
    display: inline-flex;
    text-align: center;
}

.checkbox-form-center-input{
    width: 100%;
    display: inline-flex;
    
}

.checkbox-form-center{
    width: 100%;
    display: inline-flex;
    align-items: baseline;
}

.checkbox-form-center input{
    margin-left: 7rem;
}

input[type="checkbox"]{
    margin-right: 1rem;
    cursor: pointer;
}

.btn-form{
    width: 47%;
    height: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    background-color: #6E7CFD;
    color: white;
}

.btn-form:hover{
    background-color: #FFC900;
    color: white;
    transition: all .3s;
}


.image{
    width: 13.5rem;
    height: 18.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin: auto;
    background-color: #D9D9D9;
}

.image input[type="file"]{
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 0.1rem;
    cursor: pointer;
    background-image: url(../images/icon-camera.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
}


.icon-camera{
    width: 100%;
    height: 100%;
}

.cuadro-asignacion{
    width: 95%;
    height: auto;
    background-color: #F4F5FF;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.check-cuadro-asignacion{
    margin-left: 0.1rem;
    display: inline-flex;
    align-items: baseline;
}

.center-text{
    text-align: center;
}

/*INICIO SESION*/

.form-sesion{
    width: 45%;
    height: auto;
    margin: auto;
    margin-top: 5rem;
}

.btn-sesion{
    width: 80%;
    height: 4rem;
    margin: 5rem 0 2rem 4rem;
    display: block;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    background-color: #6E7CFD;
    color: white;
    cursor: pointer;
}

.btn-sesion:hover{
    background-color: #FFC900;
    color: white;
    transition: all .3s;
}
.btn-form{
    cursor: pointer;
}