doctype html 
html(lang='es')
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/normalize.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&display=swap' rel='stylesheet')
  link(rel="stylesheet", href="/css/style-administrador.css")
  title Document
header.contenedor.menu
  section.header-section
    img(src='/images/icono-aviso.png' alt='')
    h2.title-menu INSTITUTO
    h2.title-menu2 EDUCACI&Oacute;N EN LINEA
    a(href='javascript:void(0)') Ingresar
section.contenedor.banner
  section.categoria
    a(href='/page/page-avisos')
      .categorias
        img(src='/images/icono-aviso.png' alt='')
        h3 AVISOS
    a(href='javascript:void(0)')
      .categorias
        img(src='/images/icono-alumno.png' alt='')
        h3 ESTUDIANTES
    a(href='javascript:void(0)')
      .categorias
        img(src='/images/icono-docente.png' alt='')
        h3 DOCENTES
main.contenedor
  section.avisos
    .avisos-text
      .line
      h2 Aviso 1
      p
        | Lorem Ipsum es simplemente un texto ficticio de la industria de la impresi&oacute;n y la composici&oacute;n tipogr&aacute;fica. Lorem Ipsum ha sido el texto ficticio est&aacute;ndar de la industria desde la d&eacute;cada de 1500, cuando un impresor desconocido tom&oacute; una galera de tipo y la revolvi&oacute; para hacer un libro de espec&iacute;menes tipo.
      h3 03 / Agosto / 2022
    .avisos-text
      .line
      h2 Aviso 2
      p
        | Lorem Ipsum es simplemente un texto ficticio de la industria de la impresi&oacute;n y la composici&oacute;n tipogr&aacute;fica. Lorem Ipsum ha sido el texto ficticio est&aacute;ndar de la industria desde la d&eacute;cada de 1500, cuando un impresor desconocido tom&oacute; una galera de tipo y la revolvi&oacute; para hacer un libro de espec&iacute;menes tipo.
      h3 03 / Agosto / 2022
footer.contenedor.footer
  h3 Santa Rosa de Copan
  p Copyright 2022 - Instituto