head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/normalize.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/css/style-administrador.css')
  title Document
header.contenedor.menu
  section.header-section
    img(src='images/logo.jpg' alt='')
    h2.title-menu INSTITUTO
    h2.title-menu2 EDUCACI&Oacute;N EN LINEA
    a(href='javascript:void(0)') Cerrar Sesion
main.form-main
  section.menu02
    section.first-section
      img(src='/images/imagen-03.jpg' alt='')
      .first-section-text
        h3 JUANA PEREZ GARCIA
        h4 Administrador
    nav.nav
      ul.menu-ul
        li
          a(href='') MATRICULA PRIMER INGRESO
        li
          a(href='') MATRICULA REINGRESO
        li
          a(href='') CREACION USUARIO ADMINISTRADORES Y DOCENTES
        li
          a(href='') ASIGNACION GRADO DOCENTES
        li
          a(href='#') CREACION SECCIONES GRADO
          ul
            li
              a(href='') CREACION CARRERAS
            li
              a(href='') CREACION CLASES
            li
              a(href='') ASIGNACION CLASES
        li
          a(href='') AGREGAR AVISOS
        li
          a(href='') MODIFICAR O ELIMINAR AVISOS
  section.section-form
    section.section-form-title
      .circle.orange
        img(src='/images/icono-matricula-reingreso.png' alt='')
      h3 MATRICULA REINGRESO
      p 03 / 08 / 2022
    section.section-form-info
      form.form(action='')
        .image
          label.custom-file-upload
            img#imagecontainer.icon-camera
            input#imagenuploader(type='file' name='imagen' accept='image/*')
        h4.title Datos Personales
        label(for='identidad') Numero de Identidad:
        input#identidad.medio(type='text' name='identidad' required='')
        label(for='nombre') Nombres y Apellidos Completos:
        .input-par
          input#nombre.medio(type='text' name='nombre' required='')
          input#apellido.medio(type='text' name='apellido' required='')
        .label-par
          p Nombre
          p Apellido
        label(for='fechana') Fecha de Nacimiento:
        .input-par
          input#fechana.medio(type='date' name='fechana' required='')
          .checkbox-form.medio-chek
            label(for='') Sexo:
            input#cbox1(type='checkbox')
            label(for='cbox1') Femenino
            input#cbox2(type='checkbox')
            label(for='cbox2') Masculino
        label(for='lugar') Lugar de Residencia:
        input#lugar.largo(type='text' name='lugar' required='')
        br
        h4.title Datos de los Padres
        .label-par
          label(for='nombremadre') Nombre Completo de la Madre:
          label(for='telmadre') Telefono:
        .input-par
          input#nombremadre.medio(type='text' name='nombremadre' required='')
          input#telmadre.medio(type='number' name='telmadre' required='')
        .label-par
          label(for='nombrepadre') Nombre Completo del Padre:
          label(for='telpadre') Telefono:
        .input-par
          input#nombrepadre.medio(type='text' name='nombrepadre' required='')
          input#telpadre.medio(type='number' name='telpadre' required='')
        label(for='mail') Correo Electr&oacute;nico del Padre o Tutor del Estudiante:
        input#mail.largo(type='email' name='mail' required='')
        br
        h4.title Datos de Matricula
        .label-par
          label(for='grado') Grado:
          label(for='seccion') Secci&oacute;n:
        .input-par
          input#grado.medio(type='text' name='grado' required='')
          input#seccion.medio(type='text' name='seccion' required='')
        label(for='carrera') Carrera:
        input#carrera.largo(type='text' name='carrera' required='')
        br
        .checkbox-form-center-label
          label(for='') Jornada
          label(for='') Repitente
        br
        .checkbox-form-center-input
          .checkbox-form-center.medio-chek
            input#cbox3(type='checkbox')
            label(for='cbox3') Matutina
            input#cbox4(type='checkbox')
            label(for='cbox4') Vespertina
          .checkbox-form-center.medio-chek
            input#cbox5(type='checkbox')
            label(for='cbox5') Si
            input#cbox6(type='checkbox')
            label(for='cbox6') No
        br
        .input-par
          input.btn-form(type='submit' value='GUARDAR')
          input.btn-form(type='submit' value='CANCELAR')
footer.contenedor.footer
  h3 Santa Rosa de Copan
  p Copyright 2022 - Instituto
script(src='http://code.jquery.com/jquery-1.12.0.min.js')
script(src='/functions.js')